body {
  background-color: hsl(214, 17%, 92%);
  width: 100%;
  height: 120vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
article {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(4, 1fr);
}
article {
  box-shadow: 0.5rem 0.5rem 150px 2px rgb(67, 65, 65);
}
.span-2 {
  grid-column: span 2;
}
.five {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
article {
  width: 70%;
}
.head > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-top: 24px;
  border: 1px solid #fff;
}
.heading {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.head {
  display: flex;
  gap: 1em;
  margin: 0px 24px 5px;
}
.head h2 {
  margin-top: 6px;
  margin-bottom: 2px;
  font-size: 1.2em;
}
.head p {
  margin-top: 3px;
  font-size: 0.9em;
  opacity: 60%;
}
.first {
  background-image: url(bg-pattern-quotation.svg);
  background-position: 70% 3%;
  background-repeat: no-repeat;
  background-color: hsl(263, 55%, 52%);
  border-radius: 10px;
  /* width: 560px;
  height: 290px; */
  color: #fff;
}
.first > p {
  margin: 8px 28px 0px;
}
.bold {
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 6px;
}
.first > p:last-of-type {
  font-size: 0.83em;
  padding-bottom: 12px;
}
.second {
  background-color: hsl(217, 19%, 35%);
  border-radius: 10px;
  width: 270px;
  /* height: 290px; */
  color: #fff;
}
.second > p {
  margin: 8px 20px 0px;
}
.second > p:last-of-type {
  font-size: 0.9em;
  margin-top: 8px;
  padding-bottom: 12px;
}
.third {
  background-color: #fff;
  border-radius: 10px;
  /* width: 560px;
  height: 290px; */
}
.third > p {
  margin: 8px 24px 0px;
}
.third > p:last-of-type {
  font-size: 0.83em;
  padding-bottom: 24px;
}
.fourth {
  background-color: #fff;
  border-radius: 10px;
  width: 270px;
  /* height: 290px; */
}
.fourth > p {
  margin: 8px 30px 0px;
}
.fourth > p:last-of-type {
  font-size: 0.85em;
  margin-top: 8px;
  padding-bottom: 12px;
}
.fifth {
  background-color: hsl(219, 29%, 14%);
  border-radius: 10px;
  /* width: 560px;
  height: 270px; */
  color: #fff;
}
.fifth > p {
  margin: 8px 28px 0px;
}
.fifth > p:last-of-type {
  font-size: 0.85em;
  padding-bottom: 12px;
}
